
<div style="position: fixed; top: 0px; z-index: 99; right: 0px">
  {{ "side-cart.png" | asset_img_url: '1000x' | img_tag }}
</div>

{% schema %}
{
  "name": "Side Cart",
  "target": "body"
}
{% endschema %}
